@tailwind base;
@tailwind components;
@tailwind utilities;

@layer theme {
  :root {
    /* Fonts */
    --font-rounded: "SF Pro Rounded", "Hiragino Maru Gothic ProN", Meiryo,
      "MS PGothic", sans-serif;
  }
}

@media android {
  :root {
    --font-mono: monospace;
    --font-rounded: normal;
    --font-serif: serif;
    --font-sans: normal;
  }
}

@media ios {
  :root {
    --font-mono: ui-monospace;
    --font-serif: ui-serif;
    --font-sans: system-ui;
    --font-rounded: ui-rounded;
  }
}